{% extends "base.html.twig" %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ content.title }}</h1>
            <p class="lead text-muted">{{ content.article|raw }}</p>
        </div>
    </section>

    <div class="container marketing">
        <div class="row">
            <form action="{{ sulu_content_path(content.url) }}" method="get" class="col-3">
                <div class="form-group">
                    <label for="location">Location</label>
                    <select id="location" name="location" class="form-control">
                        <option value>All ...</option>
                        {% for location in locations %}
                            <option value="{{ location.id }}"
                                    {% if app.request.get('location') == location.id %}selected{% endif %}>
                                {{ location.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" id="location_submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
    </div>

    <div class="container marketing mt-5">
        <div class="row">
            {% for event in events %}
                <div class="col-lg-4 text-center">
                    <h2 class="event-title">{{ event.title }}</h2>
                    <p>{{ event.teaser }}</p>
                    <p>
                        <a class="btn btn-secondary" href="{{ path('app.event', {id: event.id}) }}" role="button">
                            View details »
                        </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
