<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
    <header class="fixed-top bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="{{ sulu_content_root_path() }}">Symfony Live</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ sulu_content_root_path() }}">Home</a>
                        </li>

                        {% for item in sulu_navigation_root_tree('main') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ sulu_content_path(item.url) }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="navbar-nav">
                        {% for locale, url in urls %}
                            <a class="nav-link" href="{{ sulu_content_path(url, null, locale) }}">{{ locale }}</a>
                        {% endfor %}
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" id="content" class="flex-shrink-0">
        {% block content %}{% endblock %}
    </main>

    <aside>
        {% block aside %}{% endblock %}
    </aside>

    <footer class="footer mt-auto py-3">
        {% block footer %}
            <div class="container">
                {% for item in sulu_navigation_root_flat('footer') %}
                    <a href="{{ sulu_content_path(item.url) }}">{{ item.title }}</a>

                    {% if not loop.last %}&nbsp;|&nbsp;{% endif %}
                {% endfor %}

                <span class="text-muted float-right">Copyright {{ 'now'|date('Y') }} SULU</span>
            </div>
        {% endblock %}
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
