{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ event.title }}</h1>
            <p class="lead text-muted">{{ event.startDate|date('Y-m-d') }} - {{ event.endDate|date('Y-m-d') }}</p>
        </div>
    </section>

    <div class="container">
        {{ event.description|raw }}
    </div>

    <div class="container">
        {% if success %}
            <div class="success">
                <b>Thanks for your registration.</b>
            </div>
        {% else %}
            <h2>Register for this event:</h2>

            {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}
